/* Global */

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
  margin-right: 10px;
}

::-webkit-scrollbar-corner {
  border: none;
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(61, 60, 66);
  border-radius: 3px;
  cursor: move;
}

::-webkit-scrollbar-track {
  background-color: rgb(18, 18, 20);
  border: none;
}

:root {
  --background: #ffffff;
  --text-red: #8e2424;
  --blue-100: #cfe2ff;
  --blue-200: #9ec5fe;
  --blue-300: #6ea8fe;
  --blue-400: #3d8bfd;
  --blue-500: #0d6efd;
  --blue-600: #0a58ca;
  --blue-700: #084298;
  --blue-800: #052c65;
  --blue-900: #031633;
  --indigo-100: #e0cffc;
  --indigo-200: #c29ffa;
  --indigo-300: #a370f7;
  --indigo-400: #8540f5;
  --indigo-500: #6610f2;
  --indigo-600: #520dc2;
  --indigo-700: #3d0a91;
  --indigo-800: #290661;
  --indigo-900: #140330;
  --purple-100: #e2d9f3;
  --purple-200: #c5b3e6;
  --purple-300: #a98eda;
  --purple-400: #8c68cd;
  --purple-500: #6f42c1;
  --purple-600: #59359a;
  --purple-700: #432874;
  --purple-800: #2c1a4d;
  --purple-900: #160d27;
  --pink-100: #f7d6e6;
  --pink-200: #efadce;
  --pink-300: #e685b5;
  --pink-400: #de5c9d;
  --pink-500: #d63384;
  --pink-600: #ab296a;
  --pink-700: #801f4f;
  --pink-800: #561435;
  --pink-900: #2b0a1a;
  --red-100: #f8d7da;
  --red-200: #f1aeb5;
  --red-300: #ea868f;
  --red-400: #e35d6a;
  --red-500: #dc3545;
  --red-600: #b02a37;
  --red-700: #842029;
  --red-800: #58151c;
  --red-900: #2c0b0e;
  --orange-100: #ffe5d0;
  --orange-200: #fecba1;
  --orange-300: #feb272;
  --orange-400: #fd9843;
  --orange-500: #fd7e14;
  --orange-600: #ca6510;
  --orange-700: #984c0c;
  --orange-800: #653208;
  --orange-900: #331904;
  --yellow-100: #fff3cd;
  --yellow-200: #ffe69c;
  --yellow-300: #ffda6a;
  --yellow-400: #ffcd39;
  --yellow-500: #ffc107;
  --yellow-600: #cc9a06;
  --yellow-700: #997404;
  --yellow-800: #664d03;
  --yellow-900: #332701;
  --green-100: #d1e7dd;
  --green-200: #a3cfbb;
  --green-300: #75b798;
  --green-400: #479f76;
  --green-500: #198754;
  --green-600: #146c43;
  --green-700: #0f5132;
  --green-800: #0a3622;
  --green-900: #051b11;
  --cyan-100: #cff4fc;
  --cyan-200: #9eeaf9;
  --cyan-300: #6edff6;
  --cyan-400: #3dd5f3;
  --cyan-500: #0dcaf0;
  --cyan-600: #0aa2c0;
  --cyan-700: #087990;
  --cyan-800: #055160;
  --cyan-900: #032830;
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}

/* Layout */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 0 7rem;
}

.logo {
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.logo-img {
  width: 24px;
  height: 24px;
}

.logo-text {
  font-size: 18px;
  font-weight: medium;
  line-height: 24px;
  padding-left: 0.5rem;
  color: var(--gray-800);
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar a,
.navbar a:visited,
.navbar a:active {
  color: var(--gray-600);
  text-decoration: none;
  font-weight: medium;
  font-size: 1rem;
  line-height: 1.5rem;
}

.navbar a:hover {
  color: var(--gray-800);
}

.navbar-content {
  margin-left: 7.5rem;
}

.navbar-content a {
  margin-right: 2rem;
}

.navbar-content a:last-child {
  margin: 0;
}

.navbar-login a:first-child {
  margin-right: 2rem;
}

.navbar-login a:last-child {
  color: white;
  background: var(--text-red);
  padding: 0.6rem 0.6rem;
  border-radius: 8px;
}

.navbar-login a:last-child:hover {
  color: var(--gray-300);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 7rem;
}

.first-section {
  text-align: center;
  padding: 6rem 0;
}

.first-section span {
  font-size: 1rem;
  color: var(--text-red);
}

.first-section h1 {
  font-size: 3rem;
  font-weight: 500;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.first-section p {
  color: var(--gray-600);
  font-weight: 300;
}

.second-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards {
  padding: 0 1rem;
  padding-bottom: 7rem;
}

.cards h3 {
  color: var(--text-red);
  font-size: 3.5rem;
  font-weight: 400;
}

.cards span {
  font-weight: 400;
}

.cards p {
  font-weight: 300;
  font-size: 0.8rem;
  color: var(--gray-600);
  text-align: justify;
  padding-top: 0.3rem;
}

.third-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
}

.third-section span {
  color: var(--text-red);
  background: rgba(142, 36, 36, 0.10);
  border-radius: 2rem;
  padding: 0.3rem;
  font-size: 0.8rem;
  font-weight: 400;
}

.third-section h2 {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}

.third-section p {
  font-size: 1.25rem;
  font-weight: 300;
  color: var(--gray-600);
  margin-top: 1.2rem;
  margin-bottom: 4rem;
}

.third-section img {
  border-radius: 1.5rem;
}

.fourth-section {
  width: 100%;
  padding: 0 16rem;
}

.jobs {
  margin-top: 4rem;
}

.jobs h3{
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.jobs-card {
  padding: 1rem 1.5rem;
  border: 1px solid var(--gray-400);
  border-radius: 1rem;
  margin-top: 1rem;
}

.jobs-card h3{
  font-size: 1rem;
  font-weight: 400;
}

.jobs-info {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}

.jobs-info p {
  font-size: 0.8rem;
  color: var(--gray-600);
  font-weight: 300;
}

.jobs-info p:first-child {
  margin-right: 1rem;
}

.fifth-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 6rem;
  margin-bottom: 6rem;
}

.comment {
  padding: 4rem;
  background: rgba(142, 36, 36, 0.10);
  border-radius: 1rem;
}

.comment span {
  font-size: 0.8rem;
  font-weight: 400;
  color: var(--text-red);
}

.comment h3 {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  font-weight: 500;
}

.avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.avatar img {
  margin-bottom: 1rem;
}

.avatar span {
  color: black;
  font-weight: 400;
  font-size: 1rem;
}

.avatar p {
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--gray-600);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  padding: 6rem 0;
  text-align: center;
}

.newsletter h3 {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.newsletter p {
  font-size: 1rem;
  font-weight: 300;
  color: var(--gray-600);
}

.input-fields {
  margin-top: 1rem;
}

.input-fields .form-field input[type=text] {
  outline: none;
  border: 1px solid var(--gray-500);
  border-radius: 0.4rem;
  padding: 0.5rem 0.5rem;
  width: 18rem;
  height: 2rem;
}

.input-fields .form-field input[type=text]:focus {
  border: 1px solid var(--gray-600);
  outline: none;
}

.input-fields .form-field input[type=button] {
  color: white;
  font-size: 1rem;
  background: var(--text-red);
  margin-left: 0.5rem;
  border-radius: 0.3rem;
  width: 6rem;
  height: 2rem;
}

.input-fields .form-field input[type=button]:hover {
  color: var(--gray-300);
  cursor: pointer;
}

.copyright {
  margin-top: 2rem;
}

.copyright p{
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--gray-500);
}